<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio"></script>
<title>Route Map</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="javascripts/thirdparty/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">		

<script src="javascripts/thirdparty/jquery.min.js"></script>
<script src="javascripts/thirdparty/bootstrap.min.js"></script>
<script src="javascripts/thirdparty/angular.js"></script>
<script src="javascripts/thirdparty/ng-map.js"></script>

<script src="javascripts/controllers/mainCtrl.js"></script>	
<script src="javascripts/services/commonService.js"></script>
